header {
    max-width: 100%;
    border-bottom: 2px solid @navy;
    padding: 15%;
    margin: 0 auto;
    background: @lt-blue;
    .header{
        .flexbox(flex, center, center, column);        
    }
    h1{
        text-align: center;
        padding-bottom: 4%;
    }
    p{
        text-align: center;
    }
    button{
        color: @lt-text;
        background: @button;
        border: 2px solid @navy;
        padding: 2% 6%;
        font-size: 2rem;
        
        &:hover{
        transform: scale(1.2);
        box-shadow: 5px 10px 5px @navy;
        margin: 8%, 0;
        }
    }//closes button
} //closes header

.info-cards{
    .flexbox(flex, center, center, column);    
    margin: 2% 0;

    .cards{
        width: 80%;
        .flexbox(flex, center, center, column);
        border: 2px solid gray;
        margin-top: 2%;
        padding: 2%;
        background: white;

        &:hover{
            transform: scale(1.1);
            box-shadow: 5px 10px 5px @navy;
            margin: 8%, 0;
        }
        
        img{
            max-width: 100%;
            height: 200px;
            border: 1px solid grey;
        }
    }//closes cards

    p{
        border-top: 2px solid black;
        width:100%;
        text-align: center;
        padding: 2%;
        background: @navy;
        color: white;
    }
    @media @tablet{
        flex-direction: row;
        .cards{
            width: 30%;
            margin: 2% 1%;
        }
    }
} //closes info- cards
h2{
    padding: 3%, 0;
    text-align: center;
    color: brown;
    padding-top: 2%;
      
}
.success-stories{
    .flexbox(flex, center, center, column);
    background: brown;
    color: white;
    margin: 2% 0;

    @media @tablet{
        flex-direction: row;
        justify-content: space-around;
    }

    
    .stories{
        width: 80%;
        .flexbox(flex, center, space-between, column);

        @media @tablet{
            width: 30%;
        }

        img{
            border-radius: 50%;
            align-self: center;
            margin: 1%;
        }
        p{
            font-size: 1.8rem;
        }     
        h3{
            text-align: center;
            padding: 2%;
        }   
        
    }//closes stories

    .mobile-hidden{
        position: absolute;
        top: -9999px;
        left: -9999px;
        
        @media @tablet{
            position: inherit;
        }
    }
    .name{
        text-align: right;
        font-style: italic;
    }
} //closes success-stories

h2{
    color: @navy;
    font-weight: bold;
}
.features{
    .flexbox(flex, center, center, column);
    width: 90%;
    margin: 0 auto;

    @media @tablet{
        flex-direction: row;
        flex-wrap: wrap;
    }

    h3{
        text-align: center;
        font-weight: bold;
    }
    
    .feature1{
        border-top: 2px solid @navy;
        
    }
    .feature{
        .flexbox(flex, center, center, column);
        border-bottom: 2px solid @navy;
        margin: 2% 0;
        padding: 1%;

        // border: 1px solid red;

        @media @tablet{
            width: 45%;
            height: 20%;
            border: none;
        }

    
        .feat-contain{
            .flexbox(flex, space-between, center, row);
            // border: 1px solid yellow;
            @media @desktop{
                width: 100%;
            }
        }
        .illus{
            width: 40%;
            // border: 1px solid blue;
        }
        img{
            padding: 2%;
            margin: 2%;
            max-width: 100%;
            height: auto;
            // border: 1px solid green;
        }
        .feat-text{
            // border: 1px solid orange;
            width: 60%;
            padding: 3%;
        }
        
    }//closes feature
}//closes features

.contact{
    // border: 1px solid green;
    background: @navy;
    color: white;
    margin-bottom: 2%;

    @media @desktop {
        background: @lt-text;
        color: @navy;
        font-size: 3rem;
    }

    .contact-top{
        .flexbox(flex, space-between, center, row);
        
        .list{
            line-height: 1.5;
            font-size: 1.4rem;
            padding: 3%;
            
            .links{
            .flexbox(flex, flex-start, flex-start, column);
            }
            h3{
                text-decoration: grey underline;
            }
            .contact-link a{
                color: @lt-text;
                font-size: 1.6rem;

                @media @desktop{
                    color: @navy;
                    font-size: 2rem;
                }
            }
        }
    }//closes top-content

    .subscription{
        text-align: center;
        h3{
            font-weight: bold;
            color: @button;
        }

        button{
            background: @button;
            color: white;
            border: 1px solid white;

            &:hover{
              transform: scale(1.2);
              box-shadow: 5px 10px 5px @navy;
              margin: 8%, 0;
            }
        }
    }
}//closes contact

