nav {
    .flexbox(flex, center, center, column);
    
    background: @teal;
    color:@lt-text;
   margin-bottom: 1%;

   .logo{
       margin: 2%, 0;
       padding-top: 1%;  
   }
   .links{
    width: 100%;
    .flexbox(flex, space-around, center, row);
    border-bottom: 2px solid @navy;

    a {
        color: @lt-text;
        text-decoration: none;
        padding: 2%;
        font-size: 1.5rem;
        &:hover{
            text-decoration: underline;
        }
    }
   }//closes links
 }//closes nav
